body{
	border: 5px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 12px 12px 8.5px #666;
	
	padding-left: 6px;
	padding-right: 6px;
	width: 75%;
	margin: 3% 12.5% 3% 12.5%;
	font-style: normal;
	color: rgb(0,0,0);
	background-color: beige;
}
div{
	background-color: papayawhip;
	border: 2px solid black;	
}
h1{
	border: 8px double black;
	text-align: center;
	text-shadow: 4px 4px 14px #969696;
	font-style: oblique;
	font-family: Revalia, Arial Black, Arial, Impact;
	color: rgb(204,91,49);
	background-color: hsl(120,25.1%,64.9%);
}
h2{
	border: 4px double black;
	padding-left: 16px;
	text-shadow: 4px 4px 14px #969696;
	font-size: 175%;
	font-family: Averia Sans Libre, Arial;
	color: rgb(204,91,49);
	background-color: palegreen;
}
h3{
	border: 2px dotted black;
	padding-left: 16px;
	font-style: italic;
	font-weight: bolder;
	font-family: Revalia;	
	background-color: #FFB44A;
}
h4{
	border: 2px dashed black;	
	padding-left: 16px;
	margin-top: 0px;
	margin-bottom: 3px;
	letter-spacing: 3px;
	font-size: 150%;
	font-family: Averia Sans Libre, Arial;
	text-shadow: -4px -4px 16px #969696;
	text-transform: uppercase;
	background-color: #FFB44A;
}
h5{
	margin: 10px 0px 0px 0px;
	font-size:105%;
}
li{
	display:inline;
	padding-left:12.5%;
}
ol{
	word-spacing:100px;
	margin-left:25%;
	margin-right:25%;
	margin-top:15px;
	margin-bottom:10px;
	list-style-type: upper-roman;
	line-height: 150%;
	font-size: 125%;
	color: #E9967A;
	
}
ul{
	margin-top: 0px;
	padding-left: 75px;
	list-style-type: circle;
	line-height: 150%;
	font-size: 100%;
	color: #E9967A;
}
p{
	line-height: 125%;
	font-size: 105%;	
	font-family: Tahoma, Arial;
}
a:link{
	color: #1D4BFF;
	background-color: #0F0;
}
a:visited{
	color: #E000FF;
	background-color: papayawhip;
}
a:hover{
	color: #E9967A;
	background-color: white;
}
a:active{
	color: white;
	background-color: black;
}